@using AddressCollector.Shared
@model AddressListViewModel

<h2>Adressen beheer</h2>

@if (!Model.Addresses.Any())
{
    <tr><td colspan="3" class="text-center">Geen adressen gevonden</td></tr>
    <br />
    <br />
}
else
{
    @if (!User.IsInRole(Constants.KlantUserRole))
    {
        <div class="form-group">
            <label asp-for="Klant" class="col-md-2 control-label"></label>
            @Html.DropDownListFor(c => c.KlantId, new List<SelectListItem>(@ViewBag.Klanten), "-Selecteer een opdrachtgever-", new { @class = "form-control dropdown-format" })
            @*<input asp-for="Land" class="form-control" placeholder="Land" autocomplete="off" />*@
            <span asp-validation-for="KlantId" class="text-danger"></span>
        </div>
    }
    
    //voor de rest
    <div class="hidden-xs">
        <div class="col-sm-12 table-bordered">
            <div class="col-sm-3 table-headercell">Naam</div>
            <div class="col-sm-4 table-headercell">Adres</div>
            @if (User.IsInRole(Constants.AdminUserRole) || User.IsInRole(Constants.OndernemerUserRole))
            {
                <div class="col-sm-3 table-headercell">Klant</div>
            }
            <div class="col-sm-2 table-headercell">Acties</div>
        </div>

        @{
            var counter = 0;
            var oddOrEven = "";
            foreach (var address in Model.Addresses)
            {
                if (counter % 2 == 0)
                {
                    oddOrEven = "even";
                }
                else
                {
                    oddOrEven = "odd";
                }

                <div class="col-sm-12 table-bordered @oddOrEven">
                    <div class="col-sm-3 table-cell">@address.Voornaam @address.Tussenvoegsel @address.Achternaan</div>
                    <div class="col-sm-4 table-cell">@address.Straat @address.Huisnummer @address.HuisnummerToevoeging<br />@address.Postcode  @address.Plaats<br /> @address.Land.CountryName</div>
                    @if (User.IsInRole(Constants.AdminUserRole) || User.IsInRole(Constants.OndernemerUserRole))
                    {
                        <div class="col-sm-3 table-cell">@address.Klant.Naam</div>
                    }
                    <div class="col-sm-2 table-cell">
                        @if (!Model.FromPrint)
                        {
                            <form asp-action="DeleteAddress" asp-route-Id="@address.Id" method="post">
                                <a class="btn btn-sm btn-primary" asp-action="EditAddress" asp-route-id="@address.Id" title="Wijzigen"><span class="fa fa-edit"></span></a>
                                <button type="submit" onclick="return confirm('Weet u zeker dat u dit adres wilt verwijderen?');" class="btn btn-sm btn-danger" title="Verwijderen"><span class="fa fa-trash"></span></button>
                            </form>
                        }
                        else
                        {
                            <a class="btn btn-primary" asp-controller="Print" asp-action="PrintAddress" asp-route-addressId="@address.Id" asp-route-envelopeId="@Model.EnvelopeId">Print</a>
                        }
                    </div>
                </div>
                counter += 1;
            }
        }
    </div>

    //voor mobiel
    <div class="visible-xs">
        <div class="col-xs-12 table-bordered">
            <div class="col-xs-4 table-headercell">Naam</div>
            <div class="col-xs-4 table-headercell">Adres</div>
            <div class="col-xs-4 table-headercell">Acties</div>
        </div>

        @{
            foreach (var address in Model.Addresses)
            {
                if (counter % 2 == 0)
                {
                    oddOrEven = "even";
                }
                else
                {
                    oddOrEven = "odd";
                }

                <div class="col-xs-12 table-bordered @oddOrEven">
                    <div class="col-xs-4 table-cell">@address.Voornaam @address.Tussenvoegsel @address.Achternaan</div>
                    <div class="col-xs-4 table-cell">@address.Straat @address.Huisnummer @address.HuisnummerToevoeging <br /> @address.Postcode <br /> @address.Plaats <br /> @address.Land.CountryName</div>
                    <div class="col-xs-4 table-cell">
                        @if (!Model.FromPrint)
                        {
                            <form asp-action="DeleteAddress" asp-route-Id="@address.Id" method="post">
                                <a class="btn btn-sm btn-primary" asp-action="EditAddress" asp-route-id="@address.Id" title="Wijzigen"><span class="fa fa-edit"></span></a><br />
                                <button type="submit" onclick="return confirm('Weet u zeker dat u dit adres wilt verwijderen?');" class="btn btn-sm btn-danger" title="Verwijderen"><span class="fa fa-trash"></span></button>
                            </form>
                        }
                        else
                        {
                            <a class="btn btn-primary" asp-controller="Print" asp-action="PrintAddress" asp-route-addressId="@address.Id" asp-route-envelopeId="@Model.EnvelopeId">Print</a>
                        }
                    </div>
                </div>
                counter += 1;
            }
        }
    </div>
}
<div class="clearspacer10"></div>
@if (!Model.FromPrint)
{
    <div class="row">
        <a class="btn btn-primary btn-mobile" asp-action="AddNewAddress">Voeg nieuw adres toe</a>
    </div>

}
else
{
    <a asp-controller="Print" asp-action="Index" class="btn btn-primary">Annuleren</a>
}

<script type="text/javascript">
    $('#KlantId').on('change', function(event) {
        window.location = '@Url.Action("AddressManagement", "Address", new {id = "" })' + '/' + $(this).val();
    });
</script>

